<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Thống Kê</title>
</head>     

<body>
    <div class="container-fluid" style="min-height: 92%">
        <div class="row">
            <div class="col-sm-2">
                <center><img src="{% static 'images/proptit.png' %}" class="responsive-img" style="max-height: 130px" alt="PROPTIT avatar"></center>
            </div>
            <div class="col-sm-9">
                <center><h1>SPOJ Tournament</h1></center>
            </div>
        </div> 
        <br>
        <div class="row">
            <div class="col-md-2">
                <div class="bs-sliderbar">
                    <ul class="nav flex-column">
                        <a href="../rank/">Bảng Xếp Hạng</a>
                        <br>
                        <br>
                        <b style="color: dodgerblue">Thống Kê</b>
                        <br>
                        <br>
                        <a href="../">Công Cụ So Sánh</a>
                    </ul>
                </div>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class = "row">
                    <div class="col-md-1">
                        <center><button type="submit" class="btn btn-info" enctype="multipart/form-data">Thống Kê</button></center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <center>
                            <div class="custom-select" style="width:215px;">
                                <select name="selected_mem">
                                        <option value="{{selected_mem.id}}">{{selected_mem.full_name}}</option>
                                    {% for mem in lst_members %}
                                        {% if mem.id != selected_mem.id %}
                                        <option value="{{mem.id}}">{{mem.full_name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div> 
                        </center>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <center>
                            <div class="custom-select" style="width:215px;">
                                <select name="select_order_score">
                                    <option value="1">Giảm Dần</option>
                                    <option value="2">Tăng Dần</option>
                                    <option value="1">Giảm Dần</option>
                                </select>
                            </div>
                        </center>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <div class="custom-select" style="width:215px;">
                            <select name="select_order_racer">
                                <option value="1">Giảm Dần</option>
                                <option value="2">Tăng Dần</option>
                                <option value="1">Giảm Dần</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <div class="container-fluid">
                        
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <h4 style="color: dodgerblue">Sắp xếp theo số điểm</h4>
                                </tr>
                                <tr>
                                    <td>Mã Bài</td>
                                    <td>Điểm</td>
                                    <td>Trạng Thái</td>
                                </tr>
                                {% for row in lst_score%}
                                    <tr>
                                        <td><a href="{{row.1}}">{{row.0}}</a></td>
                                        <td>{{row.2}}</td>
                                        {% if row.3 == "1" %}
                                        <td style="color: rgb(42, 170, 82);">&#x2714</td>
                                        {% else %}
                                        <td style="color: rgb(212, 19, 19);">&#x2717</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="container-fluid">
                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <h4 style="color: dodgerblue">Sắp xếp theo số racer đã giải</h4>
                                </tr>
                                <tr>
                                    <td>Mã Bài</td>
                                    <td>Số người đã giải</td>
                                    <td>Trạng Thái</td>
                                </tr>
                                {% for row in lst_racer%}
                                    <tr>
                                        <td><a href="{{row.1}}">{{row.0}}</a></td>
                                        <td>{{row.2}}</td>
                                        {% if row.3 == "1" %}
                                        <td style="color: rgb(42, 170, 82);">&#x2714</td>
                                        {% else %}
                                        <td style="color: rgb(212, 19, 19);">&#x2717</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
<script>
    var x, i, j, selElmnt, a, b, c;
    /*look for any elements with the class "custom-select":*/
    x = document.getElementsByClassName("custom-select");
    for (i = 0; i < x.length; i++) {
        selElmnt = x[i].getElementsByTagName("select")[0];
        /*for each element, create a new DIV that will act as the selected item:*/
        a = document.createElement("DIV");
        a.setAttribute("class", "select-selected");
        a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
        x[i].appendChild(a);
        /*for each element, create a new DIV that will contain the option list:*/
        b = document.createElement("DIV");
        b.setAttribute("class", "select-items select-hide");
        for (j = 1; j < selElmnt.length; j++) {
            /*for each option in the original select element,
            create a new DIV that will act as an option item:*/
            c = document.createElement("DIV");
            c.innerHTML = selElmnt.options[j].innerHTML;
            c.addEventListener("click", function(e) {
                /*when an item is clicked, update the original select box,
                and the selected item:*/
                var y, i, k, s, h;
                s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                h = this.parentNode.previousSibling;
                for (i = 0; i < s.length; i++) {
                    if (s.options[i].innerHTML == this.innerHTML) {
                        s.selectedIndex = i;
                        h.innerHTML = this.innerHTML;
                        y = this.parentNode.getElementsByClassName("same-as-selected");
                        for (k = 0; k < y.length; k++) {
                        y[k].removeAttribute("class");
                    }
                    this.setAttribute("class", "same-as-selected");
                    break;
                }
            }
            h.click();
        });
        b.appendChild(c);
    }
    x[i].appendChild(b);
    a.addEventListener("click", function(e) {
        /*when the select box is clicked, close any other select boxes,
        and open/close the current select box:*/
        e.stopPropagation();
        closeAllSelect(this);
        this.nextSibling.classList.toggle("select-hide");
        this.classList.toggle("select-arrow-active");
        });
    }

    function closeAllSelect(elmnt) {
        /*a function that will close all select boxes in the document,
        except the current select box:*/
        var x, y, i, arrNo = [];
        x = document.getElementsByClassName("select-items");
        y = document.getElementsByClassName("select-selected");
        for (i = 0; i < y.length; i++) {
            if (elmnt == y[i]) {
                arrNo.push(i)
            } 
            else {
                y[i].classList.remove("select-arrow-active");
            }
        }
        for (i = 0; i < x.length; i++) {
            if (arrNo.indexOf(i)) {
                x[i].classList.add("select-hide");
            }
        }
    }
    /*if the user clicks anywhere outside the select box,
    then close all select boxes:*/
    document.addEventListener("click", closeAllSelect);
</script>

</body>
</html>
